.container {
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    opacity: initial;
    background-color: #36454f50;
}

.background {
    background: url(../../../assets/img/game-page-wallpaper-blur.jpg) no-repeat center;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.fading-background {
    background: rgba(43, 111, 188, 0.139);
}

.play-area-container {
    overflow: visible;
    flex: 1 1 auto;
    opacity: 1;
}

.play-area {
    display: grid;
    width: 100%;
    outline: none;
}
