#container-slider {
    background-color: #f1ededb6;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0px;
}

.slider-fontSize {
    height: 200px;
}

.font-size-icon {
    font-size: 28px;
}
