.easel-container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.tiles-container {
    position: absolute;
    display: flex;
    top: -16%;
    left: 50%;
    transform: translateX(-50%);
}

.exchange-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-family: 'Roboto';
    padding: 0px;
    margin-top: -55px;
    height: 7%;
}

#button-cancel {
    background-color: rgb(222, 52, 52);
    width: 18%;
    height: 65%;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 22px;
}

#button-exchange {
    background-color: #14436f;
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 30%;
    height: 65%;
    font-size: 22px;
}

#button-exchange:disabled {
    background-color: #14436f;
    opacity: 30%;
}

.isRightClicked {
    border: 5px groove #14436fec;
    background-color: #14436fab;
}

.isLeftClicked {
    border: 5px groove #526f14ec;
    background-color: #526f14b4;
}
